<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="app.css">    
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="msg-box">
                    니나브
            </div>
            <div class="slider">
                <div class="box">
                    <img src="images/01.png" alt="01.png" data-name="나나브">
                </div>
                <div class="box">
                    <img src="images/02.png" alt="02.png" data-name="핑모코">
                </div>
                <div class="box">
                    <img src="images/03.png" alt="03.png" data-name="개구리">
                </div>
                <div class="box">
                    <img src="images/04.png" alt="04.png" data-name="모코코">
                </div>
            </div>
            <div class="controller">
                <button class="controlBtn" id="prev">&lt;</button>
                <button class="controlBtn" id="next">&gt;</button>
            </div>
        </div>
    </div>
    
    <script>
        let current = 0;
        let isSlide = false;
        let bef = 0;
        slide();
        $("#prev").on("click", function(){
            if(isSlide) return;
            current--;
            slide();
        });

        $("#next").on("click", function(){
            if(isSlide) return;
            current++;
            slide();
        });

        function text(name) {
            let m = "-50%";
            if(bef > current) {
                m = "110%";
            }
            $(".msg-box").animate({'left':`${m}`},200,function() {
                $(".msg-box").css({'left':'50%','top':'-50px'});
                $(".msg-box").text(name);
                $(".msg-box").animate({'top':'10px'},200);        
            });
        }

        function slide()
        {
            isSlide = true;
            $(".slider").animate({"left": `-${current * 300}px`}, 500, function() {
                isSlide = false;
            });
            let name = $(".box > img").eq(current).data("name");
            if(bef != current) {
                text(name);
                bef = current;
            }
            if(current <= 0){
                $("#prev").attr("disabled", true);
            }else if(current >= 3){
                $("#next").attr("disabled", true);
            }else{
                $("#prev").attr("disabled", false);
                $("#next").attr("disabled", false);
            }
        }
    </script>
</body>
</html>
